* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
  }

  body {
      margin: auto;
      padding-top: 105px;
      padding-bottom: 50px;
      background-color: #FCEDE0;
      box-sizing: border-box;
      background-image: url(../images/background_img.jpg);
  }

  .card {
    /*border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: 1.4rem;
    background-color: white;*/
    text-align:center;
    float: left;
    width: 160px;
    height: 180px;
    margin: 1px;
    margin-left: 3.5%;
  }

  .menu-tag {
    position: relative; top: -30px;
    background-color:#000;
    margin:auto;
    border-radius: 15px;
    color:whitesmoke;
    padding: 5px 12px 5px 12px;
    z-index: 1;
  }

  .img {
    /*border: 6px solid #fce205;*/
    border-radius: 50%;
    background-color:white;
    height: 73%;
    width: 73%;
    margin: auto;
  }

  .img:hover {
    box-shadow: 2px rgba(0, 140, 186, 0.5);
    cursor: pointer;
  }

  .container {
    margin: auto;
    overflow: auto;
  }
  
  .header {
    padding: 5px;
    position: relative;
    position: fixed;
    top: 0;
    height: 62px;
    line-height: 5px;
    width: 100%;
    text-align: center;
    background: #2b2b2b;
    opacity: 0.9;
    z-index: 2;
  }

  .footer {
    background-color: #2b2b2b;
    text-align: center;
    padding: 1px;
    position: relative;
    position: fixed;
    color: #fee10e;
    bottom: 0;
    line-height: 5px;
    height: 30px;
    width: 100%;
    opacity: 0.9;
    z-index: 2;
  }

  .fakenav {
    position:fixed;
    display: block;
    top: 60px;
    height: 43.25px;
    width: 100%;
    background-color:#FCEDE0;
    text-align: center;
    overflow: hidden;
    margin: auto;
    z-index: -1;
  }

  .fakenav div{
    position: relative;
    top: 10px;
    background-image: url(../images/fakenav_image.png);
    margin:auto;
    height: 40px;
    width: 130px;
  }

  .topnav {
    padding:12px 1px 3px 1px;
    background-color: #FDC537;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 6px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #333;
    color: #FDC537;
  }

  .food-slot {
    background-color: #FCEDE0;
    text-align: left;
    font-size: 0.75rem;
  }

  /*.price-tag {
    background-color:#000;
    float: right;
    margin:auto;
    margin-right: 12%;
    border-radius: 10%;
    color:whitesmoke;
  }*/

  .sub-menu-img {
    height: 138px;
    width: 138px;
    padding: 3px;
    margin-left: 1%;
    float: left;
  }

  .sub-menu-img-box {
    width: 138px;
    height: 138px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }

  .logo-img-footer{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 3%;
  }

  .logo-img-header{
    border: 5px solid #ddd;
    border-radius: 50%;
    border-color: white;
    height: 75px;
    width: 75px;
    margin-left: 11%;
  }
  .sub-logo-img-header{
    border: 5px solid #ddd;
    border-radius: 50%;
    border-color: white;
    height: 68px;
    width: 68px;
    
  }


  a, u {  /* Removes anchor's underline. */
    text-decoration: none !important;
    color: #000;
  }

  /*language selector styling don't change! */

  @import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

  /*language selector styling don't change! */
  
  .body {
      box-sizing: border-box;
  }
  
  * {
      box-sizing: border-box;
  }
  
  .lang-menu {
      width: 32px;
      height: 32px;
      margin-top: 10px;
      margin-right: 3px;
      float: right;
      position: relative;
  }
  
  .selected-lang {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 40px;
  }
  
  .selected-lang:before {
      content: '';
      width: 32px;
      height: 32px;
      background-image: url(../images/language/dual_flag_32_final.png);
  }
  
  .lang-menu:hover ul {
      display: block;
  }
  
  .lang-menu ul {
      margin: 0;
      padding: 0;
      width: 40px;
      background-color: white;
      border: 1px solid #f2f2f2;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      display: none;
      position: absolute;
      top: 32px;
      left: -2px;
  }
  
  .lang-menu ul li {
      list-style: none;
  }
  
  .lang-menu ul li a {
      width: 40px;
      display: block;
      padding: 1px;
  }
  .lang-menu ul li a:before {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
  }
  
  .lang-menu ul li a:hover{
      background-color: #f2f2f2;
  }
  
  .tr::before {
      background-image: url(../images/language/tr_flag_32.png);
  }
  
  .en::before {
      background-image: url(../images/language/gb_flag_32.png);
  }
